body {
  background-color: aquamarine;
  font-size: 1.2rem;
}
.eklediv {
  height: 3rem;
  border-radius: 20px;
  overflow: hidden;
}
#giris {
  width: 100vw;
  border: none;
  outline: none;
}

#ekle {
  width: 20vw;
  background-color: #de6590;
  color: white;
  border: none;
}
.eklediv {
  border: 1px solid #de6590;
  display: flex;
  justify-content: center;
  width: 80vw;
}
.list {
  width: 70vw;
  margin: auto;
}

.task {
  display: flex;
  justify-content: space-between;
  text-align: center;
  border: 1px solid #de6590;
  background-color: antiquewhite;
  margin-bottom: 1rem;
  border-radius: 8px;
  overflow: hidden;
}
.check {
  height: 25px;
}
.delete {
  border-radius: 15px;
  background-color: azure;
}
